* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: darkslategray;
  color: aliceblue;
}
#container {
  width: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5ch;
}
h1 {
  text-align: left;
  font-size: 50px;
}
.shown-pre {
  white-space: pre-wrap;
  padding: 20px;
  background-color: darkslategray;
  color: aliceblue;
  border: 2px dashed aliceblue;
  tab-size: 4;
  font-weight: 400;
  border-radius: 5px;
  flex-wrap: wrap;
  overflow: auto;
  overflow-wrap: break-word;
}

#trip-api-body {
    max-height: 25ch;
  overflow: scroll;
}

button {
  background-color: darkslategray;
  color: aliceblue;
  font-size: x-large;
  width: 300px;
  height: 75px;
  border: 3px solid aliceblue;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.false {
  color: crimson;
  text-decoration: overline;
}
.true {
  color: seagreen;
  animation: 2s linear 0s infinite alternate flash;
  text-shadow: 1px 1px 2px aliceblue;
}
#conclude-trip,
#login,
#begin-trip,
#confirm-trip {
  animation: 2s linear 0s infinite alternate flash;
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: large;
  opacity: 75%;
}

form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
}
#login {
  width: 100%;
}

#trip-report-header {
  text-decoration: underline;
}
